.hero-content{
    display: flex;
    justify-content: center;
    align-content: center;
}

.info {
    display: flex;
    flex-direction: row;
    padding-block: 5rem;
    justify-content: space-between;
}

.landing-main {
    height: 200px;
    position: relative;
}

.landing-main {
    justify-items: center;
}

#search-button {
    background-color: red;
}