.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content-wrapper {
    flex-direction: column;
    
}
.info {
    display: flex;
    flex-direction: row;
    padding-block: 5rem;
    justify-content: space-between;
}

.landing-main {
    height: 200px;
    position: relative;
}

.landing-main {
    justify-items: center;
}