@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
    <main style="background-color:pink;">
        <section>
            <center>
                <h1>
                    About Us
                </h1>
                <p>
                    <b>
                        Here at YourVenue we pride ourselves in
                        simplicity and accuracy. We want to help you
                        discover your perfect wedding venue
                        within your budget.
                    </b>
                </p>
            </center>
        </section>
        <section>
            <h2>Stuart Geller</h2>
            <p>
                Stuart is a senior studying Computer Information Systems at CSU.
                He enjoys rock climbging in his free time. His expertise
                in HTML and CSS has made him an integral part of this team.
            </p>
            <p><i>stuDawg@colostate.rams.edu</i></p>
            <p><button class="button">Contact</button></p>
            <p> </p>
            <h2>Andrew Destasio</h2>
            <p>
                Andrew is a key component on our team and is also
                a graduating senior studying CIS. He enjoys running
                and climbing.
            </p>
            <p><i>ange@colostate.rams.edu</i></p>
            <p><button class="button">Contact</button></p>
            <p> </p>
            <h2>Ben Rowland</h2>
            <p>
                Ben came up with the idea of YourVenue
                and is using our website for his upcoming wedding.
                He enjoys spending time with his fiance and working out.
            </p>
            <p><i>benG@colostate.rams.edu</i></p>
            <p><button class="button">Contact</button></p>
            <p> </p>
            <h2>Sophia Southard</h2>
            <p>
                Sophia is also a strong player.
                She is a professional chess champion in her free time.
            </p>
            <p><i>sosofyre@colostate.rams.edu</i></p>
            <button class="button">Contact</button>
        </section>
    </main>
