@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/landingpage.css" />
</head>
<main class="landing-main">
    <div class="top-area">
        <section class="hero-content">
            <h1 class="hero-content__title">YourVenue</h1>
            <h2 class="hero-content__second-title">Find the perfect venue!</h2>
        </section>
        <button class="search-button">
            Search for YourVenue
        </button>
    </div>
    <section class="info">
        <section class="info__content-left">
            <h3>Our Mission</h3>
            <p>Your wedding day should be the best day of your life and we want to make that happen.
            Our goal is to connect you to your dream venue.</p>
        </section>
        <section class="info__content-right">
            <h3>Why Choose Us?</h3>
            <p>We are connected to the best venues around Colorado.
            Use us to find your dream wedding venue and make the best day of your life just that much easier.</p>
        </section>
    </section>

</main>
