@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="login">
        <div class="heading">
            <h2>Sign in</h2>
            <form action="#" method="post">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
                <br />

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <br />

                <button type="submit" class="float">Login</button>
                <br />
                <div class="to-register">
                    <p>Dont have an account yet? <a href="/Home/Registration">Register</a>.</p>
                </div>
            </form>
        </div>
    </div>
